.App {
}

.AppAside {
    min-height: 100vh;
}

.TableContainer {
  width: 80%;
  margin: 0 auto;
}

.TableButtons {
  display: flex;
  gap: 20px;
}

.FormContainer {
    width: 60%;
    margin: 0 auto;
}
